{% extends 'base.html' %}
{% block content %}
<h2>About This Project</h2>

<div class="about-box">
    <p><strong>Project Name:</strong> Event Management System</p>
    <p><strong>Organized By:</strong> vetri</p>
    <p><strong>Mobile Number:</strong> +91 6380268095</p>
    <p><strong>Email:</strong>vetri1206@gmail.com.com</p>
    <p><strong>Description:</strong> This mini project is developed using Flask and SQLite for managing events, user registration, and event creation by admins. It was developed as part of a college project.</p>
</div>
{% endblock %}
