<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h1>🎉<span class="title-main">EVENT MANAGEMENT SYSTEM</span></h1>

        <nav class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('create_event') }}">Create Event</a>
        </nav>
    </div>
</body>
</html>
